/* Transaction */

.transaction-card {
    min-height: 500px;
}

.transaction-item:hover {
    background-color: rgba(0, 0, 0, 0.025);
    cursor: pointer;
}

/* Transaction */


/* Accounts */

.account-item{
    cursor: pointer;
}

/* Accounts */
