#header-logo img {
    height: 1rem;
}

@media (min-width: 425px) {
    #header-logo img {
        height: 1.15rem;
    }
}

/* Transaction */

.transaction-card {
    min-height: 500px;
}

.transaction-item:hover {
    background-color: rgba(0, 0, 0, 0.025);
    cursor: pointer;
}

/* Transaction */


/* Accounts */

.account-item{
    cursor: pointer;
}

/* Accounts */
